<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Hackathon Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
 
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simple-line-icons/css/simple-line-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css') }}">

  </head>
  <body id="page-top">
    {% include "partials/header.html" %}

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}

    <!-- Scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Javascript Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- JavaScript for smooth scrolling -->
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>
  </body>
</html>
